<link rel="stylesheet" href="/index.css">
<div class="person-card">
    <h1><b>ID: {{item.id}}</b></h1> 
    <h2>Name: {{item.firstName}} {{item.lastName}}</h2>
    <h4>Favorite Word: {{item.favoriteWord}}</h4>
    <p>Favorite Phrase: {{item.favoritePhrase}}</p>
    <a href="/">Back</a>
</div>
